<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Receita</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list inset>
    
    <ion-item>
      <ion-label >Nome do Destinatario</ion-label>
      <ion-input color="tertiary" type="string"  value="" [(ngModel)]="contadata.Nome_destinatario"> </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label >Nome da Origem</ion-label>
      <ion-input color="tertiary" type="string"  value="" [(ngModel)]="contadata.Nome_origem"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Valor</ion-label>
      <ion-input color="tertiary" type="int"  value="" [(ngModel)]="contadata.Valor"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Mes</ion-label>
      <ion-input color="tertiary" type="int"  value="" [(ngModel)]="contadata.mes"> </ion-input>
    </ion-item>

  </ion-list>
<ion-button full (click)="Receita()" expand="block" color="tertiary">Pagar</ion-button>
</ion-content>

